<mat-card class="shopping-cart-card">
    <i class="fas fa-shopping-cart fa-2x"></i>
    <button *ngIf="!authService.isLoggedIn()" mat-stroked-button color="accent" class="login-button"
        [routerLink]="['/login']">Login to place an order</button>
    <div class="shopping-cart-content" *ngIf="authService.isLoggedIn()">
        <span *ngIf="shoppingCartService.products.length == 0">Your shopping cart is empty.</span>
        <div *ngIf="shoppingCartService.products.length > 0">
            <ul>
                <li class="li-product" *ngFor="let product of shoppingCartService.products">
                    <span>{{ product.name }}</span>
                    <span class="order-detail">
                        {{ product.quantity }}x {{ product.price | number:'1.2-2' }} zł
                    </span>
                </li>
            </ul>
            <hr>
            <span style="float: left;">Total</span>
            <span style="float: right;">{{ shoppingCartService.getTotalCost() | number:'1.2-2' }} zł</span>
            <button [routerLink]="['/orders/summary']" class="order-button" mat-stroked-button color="accent">Order</button>

        </div>
    </div>
</mat-card>