:host {
    margin: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: 250px;
}

.shopping-cart-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.shopping-cart-content {
    margin-top: 1rem;
}

.login-button {
    margin-top: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

.li-product {
    text-align: left;
}

.order-detail {
    float: right;
    color: #777;
    margin-left: .5rem;
}

.order-button {
    width: 100%;
    margin-top: 1rem;
}