<p class="font-bold">Cuisine</p>
<mat-checkbox class="display-block" *ngFor="let cuisine of restaurantService.cuisines" [(ngModel)]="cuisine.checked"
    (change)="restaurantService.filterByCuisine(cuisine)">{{ cuisine.name }}</mat-checkbox>