<app-toolbar></app-toolbar>
<div [@routeAnimations]="prepareRoute(outlet)" class="display-flex justify-content-center align-items-center h-90 w-100">
    <router-outlet #outlet="outlet"></router-outlet>
</div>