<div class="restaurant p-1">
    <div>
        <h2 class="display-inline">{{ data.name }}</h2>
        <small class="float-right">{{ data.cuisine }}</small>
    </div>
    <small>{{ data.open_time | shortTime }} - {{ data.close_time | shortTime }}</small>
</div>