<div class="product p-1">
    <div>
        <h2 class="display-inline">{{ data.name }}</h2>
        <small class="float-right">{{ data.price }} zł</small>
    </div>
    <div class="display-flex justify-content-between align-items-center">
        <small>{{ data.description }}</small>
        <span>
            <button mat-icon-button color="accent"
                (click)="addToCart()"><i class="fas fa-plus"></i></button>
            <button mat-icon-button color="accent"
                (click)="removeFromCart()"><i class="fas fa-minus"></i></button>
        </span>
    </div>
</div>