<mat-card class="search-card">
    <mat-card-title class="text-center">
        <h1>Time to order food</h1>
    </mat-card-title>
    <form (submit)="onSubmit()" [formGroup]="searchForm">
        <mat-form-field class="w-80" style="display: block; margin: auto;">
            <input matInput placeholder="Your Address" formControlName="address" required>
            <mat-error *ngIf="searchForm.get('address').invalid">You must enter an address.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" style="display: block; margin: auto; margin-top: 1rem;">Search</button>
    </form>
</mat-card>