<h1 mat-dialog-title>Discard shopping cart</h1>
<mat-dialog-content>Are you sure you want discard all products from your cart?</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-stroked-button [mat-dialog-close]="true" color="accent">Proceed</button>
    <button mat-stroked-button [mat-dialog-close]="false" color="accent">Cancel</button>
</div>