<mat-card class="login-card">
    <form (submit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field class="w-100">
            <input matInput placeholder="Email" type="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="w-100">
            <input matInput placeholder="Password" type="password" formControlName="password" required>
        </mat-form-field>
        <button mat-raised-button style="margin: auto; display: block;" color="primary">Login</button>
    </form>
</mat-card>
<button [routerLink]="['/register']" mat-raised-button style="width: 100%;" color="primary">Not registered yet? Join now</button>
