<mat-list>
    <div class="subheader">
        <h3 mat-subheader>Order No. {{ data.id }} | {{ restaurant?.name }} | Total: {{ data.value | number:'1.2-2' }} zł</h3>
        <button (click)="openOpinionDialog()" mat-button color="accent">Rate</button>
    </div>
    <mat-list-item *ngFor="let detail of data.details">
        <div style="display: flex; justify-content: space-between; width: 100%">
            <h4>{{ detail.product.name }}</h4>
            <p>{{ detail.quantity }}x {{ detail.product.price }}</p>
        </div>
    </mat-list-item>
</mat-list>