<mat-card class="list-card" style="display: flex;">
    <app-filter-bar></app-filter-bar>
    <div class="display-inline-block mx-3" style="width: 70%;">
        <ng-container *ngFor="let restaurant of restaurantService.restaurants">
            <app-restaurant-list-element *ngIf="restaurant.visible" [data]="restaurant" [routerLink]="['/restaurants/', restaurant.id]"></app-restaurant-list-element>
            <hr *ngIf="restaurant.visible">
        </ng-container>
    </div>
</mat-card>