<h1 mat-dialog-title>Order has been placed</h1>
<div mat-dialog-content>
    Thank you for choosing our services. Your products should reach your place within few minutes.
</div>
<div mat-dialog-actions>
    <button [mat-dialog-close]="" mat-raised-button color="accent">Proceed</button>
</div>