<div class="card-container">
    <div>
        <mat-card class="list-card">
            <app-product-list [products]="restaurantData?.products"></app-product-list>
        </mat-card>
        <mat-card>
            <ng-container *ngFor="let opinion of opinions$ | async">
                <app-opinion-list-element [opinion]="opinion"></app-opinion-list-element>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-card>
    </div>
    <app-shopping-cart-card></app-shopping-cart-card>
</div>