<div class="mt-2 ml-2">
    <h3>{{ opinion.username }}</h3>
    <div>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(1)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(2)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(3)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(4)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(5)"></i>
    </div>
    <p class="opinion-description">{{ opinion.description }}</p>
</div>