<div style="display: flex;">
    <app-product-filter-bar [minPrice]="getMinPrice()" [maxPrice]="getMaxPrice()" (priceFiltered)="filterProducts($event)"></app-product-filter-bar>
    <div class="display-inline-block mx-3" style="width: 70%;">
        <ng-container *ngFor="let product of products">
            <app-product-list-element *ngIf="product.visible" [data]="product"></app-product-list-element>
            <hr *ngIf="product.visible">
        </ng-container>
    </div>
</div>