<div class="filter-bar display-inline-block">
    <p class="font-bold">Price</p>
    <mat-slider thumbLabel min="{{ minPrice }}"
                max="{{ maxPrice }}"
                step="{{ getStep() }}"
                value="{{ maxPrice }}"
                (change)="sliderChanged($event)">
    </mat-slider>
</div>