@import 'styles-utils';

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('assets/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.list-card {
    min-width: 1000px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.list-card hr {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0;
}

.list-card hr:last-child {
    display: none;
}

.filter-bar {
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 4rem;
    border-right: 1px solid #ccc;
}