<mat-card>
    <mat-list>
        <h3 mat-subheader>{{ restaurant?.name }}</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let product of shoppingCartService.products">
            <p class="w-100">
                <small>{{ product.name }}</small>
                <small class="float-right">{{ product.quantity }}x {{ product.price | number:'1.2-2' }} zł</small>
            </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <p class="px-1">
            <strong>
                <small>Total</small>
                <small class="float-right">{{ shoppingCartService.getTotalCost() | number:'1.2-2' }} zł</small>
            </strong>
        </p>
    </mat-list>
    <div class="display-flex justify-content-center">
        <mat-button-toggle-group [(ngModel)]="paymentMethod">
            <mat-button-toggle value="PP">
                <i class="fab fa-paypal"></i><br>
                <small>PayPal</small>
            </mat-button-toggle>
            <mat-button-toggle value="BL">
                <i class="fab fa-blogger-b"></i><br>
                <small>Blik</small>
            </mat-button-toggle>
            <mat-button-toggle value="CC">
                <i class="fab fa-cc-visa"></i><br>
                <small>Credit Card</small>
            </mat-button-toggle>
            <mat-button-toggle value="CS">
                <i class="fas fa-money-bill-alt"></i><br>
                <small>Cash</small>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <button (click)="confirmOrder()" mat-raised-button class="w-100" style="margin-top: 1.5rem;" color="accent">Confirm</button>
</mat-card>