<mat-toolbar color="primary" class="display-flex justify-content-between">
    <button mat-button [routerLink]="['/']">
        <h1>WROeats</h1>
    </button>
    <div *ngIf="authService.isLoggedIn()">
        <button mat-button [matMenuTriggerFor]="menu">
            <h1>{{ authService.getEmail() }}</h1>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item [routerLink]="['/orders']">My Orders</button>
            <span matTooltip="Your shopping cart is empty" [matTooltipDisabled]="!shoppingCartService.empty()">
                <button mat-menu-item [disabled]="shoppingCartService.empty()" [routerLink]="['/orders/summary']">
                    <span style="margin-right: .5rem;" [matBadge]="shoppingCartService.products.length" [matBadgeHidden]="shoppingCartService.empty()" matBadgeColor="accent" matBadgeOverlap="false">Shopping Cart</span>
                </button>
            </span>
        </mat-menu>
    </div>
    <!-- <div *ngIf="!authService.isLoggedIn()">
        <button mat-button [routerLink]="['/login']"><h1>Login</h1></button>
    </div> -->
    <button mat-button (click)="authService.loginAsSuperuser()" *ngIf="!authService.isLoggedIn()">
        <h1>Login</h1>
    </button>
</mat-toolbar>