<mat-card class="register-card">
    <form (submit)="onSubmit()" [formGroup]="registerForm">
        <strong>Personal Information</strong> 
        <mat-form-field>
            <input matInput placeholder="Email" type="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="first_name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="last_name" required>
        </mat-form-field>
        <mat-form-field class="mb-1">
            <input matInput placeholder="Phone Number" formControlName="phone_number" required>
        </mat-form-field>
        <strong>Delivery Address</strong>
        <mat-form-field>
            <input matInput placeholder="Street Address" formControlName="street_address" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="City" formControlName="city" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Postal Code" formControlName="postal_code" required>
        </mat-form-field>
        <button mat-raised-button style="margin: auto; display: block;" color="primary">Register</button>
    </form>
</mat-card>