.fas {
    color: #fad1df;
    font-size: 1.5rem;
}

.fas:hover, .fas:hover ~ .fas {
    color: #e91e63;
}

.rate {
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.rateSet {
    color: #e91e63;
}