<div mat-dialog-content>
    <div class="rate">
        <i class="fas fa-hamburger" [ngClass]="isRateSet(5)" (click)="setRate(5)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(4)" (click)="setRate(4)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(3)" (click)="setRate(3)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(2)" (click)="setRate(2)"></i>
        <i class="fas fa-hamburger" [ngClass]="isRateSet(1)" (click)="setRate(1)"></i>
    </div>
    <form style="width: 100%;">
        <mat-form-field style="width: 100%;">
            <textarea [formControl]="description" matInput style="width: 100%;" rows="8" placeholder="Write about your impressions"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]="{rate: rate, description: description.value}">Send</button>
</div>